apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample-python-basic-rhtap-devfile-multi-component-4oxg
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-pwnf-tenant/mc-two-scenarios/devfile-sample-python-basic-rhtap-devfile-multi-component-4oxg@sha256:5026561fc603ba8e965d5f25d467987ab367658d7a52054061577be3fd30b08f
        name: my-python
        resources: {}
status: {}
